:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: var(--color-rice);
  z-index: var(--z-index-modals-1);
  overflow-y: auto;
}

.container {
  position: relative;
  background: var(--color-rice);
  max-width: var(--container-width);
  margin: auto;
  padding: var(--spacing-lg);
}

.close-btn {
  position: fixed;
  cursor: pointer;
  border-radius: var(--radius-sm);
  top: var(--spacing-md);
  right: var(--spacing-md);
  font-size: var(--text-xl);
  padding: var(--spacing-sm);
  background-color: var(--color-rice);
  color: var(--color-black-pepper);
  border: 2px groove var(--color-tandoor);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-xl);
}

.header .recipe-image {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  justify-self: center;
}

.header-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.header-content h2 {
  margin: 0;
  font-size: var(--text-3xl);
  color: var(--color-curry);
}

.header-content p {
  font-size: var(--text-lg);
  color: var(--color-black-pepper);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
}

.content .list h3 {
  margin: 0;
  font-size: var(--text-xl);
  color: var(--color-curry);
}

.content .list li {
  margin-bottom: var(--spacing-sm);
  color: var(--color-black-pepper);
  font-size: var(--text-md);
}

@media (min-width: 768px) {
  .container {
    padding: var(--spacing-xl);
  }

  .close-btn {
    position: absolute;
  }

  .header {
    grid-template-columns: 300px 1fr;
  }

  .header .recipe-image {
    justify-self: start;
  }

  .content {
    grid-template-columns: minmax(250px, 1fr) 2fr;
  }
}
